/* 
#36393F 
#2c2f33
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/* Base Styles
********************************************************************* */
html {
	font-size: 62.5%;
}
body {
	font-size: 1.5em;
	line-height: 1.6;
	font-weight: 400;
	background:#ffffff;
  margin:0;
  color:#8C8C8C;
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
/* Grid
********************************************************************* */  
.container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.column, .columns {
	width: 100%;
	float: left;
	box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
.container {
	width: 85%;
	padding: 0;
}

.no_img{
	display: none;
}
}

/* For devices larger than 550px */
@media (min-width: 550px) {
.container {
	width: 80%;
}
.column,  .columns {
	margin-left: 4%;
}
.column:first-child,  .columns:first-child {
	margin-left: 0;
}
.one.column,  .one.columns {
	width: 4.66666666667%;
}
.two.columns {
	width: 13.3333333333%;
}
.three.columns {
	width: 22%;
}
.four.columns {
	width: 30.6666666667%;
}
.five.columns {
	width: 39.3333333333%;
}
.six.columns {
	width: 48%;
}
.seven.columns {
	width: 56.6666666667%;
}
.eight.columns {
	width: 65.3333333333%;
}
.nine.columns {
	width: 74.0%;
}
.ten.columns {
	width: 82.6666666667%;
}
.eleven.columns {
	width: 91.3333333333%;
}
.twelve.columns {
	width: 100%;
	margin-left: 0;
}
.one-third.column {
	width: 30.6666666667%;
}
.two-thirds.column {
	width: 65.3333333333%;
}
.one-half.column {
	width: 48%;
}
/* Offsets */
.offset-by-one.column,  .offset-by-one.columns {
	margin-left: 8.66666666667%;
}
.offset-by-two.column,  .offset-by-two.columns {
	margin-left: 17.3333333333%;
}
.offset-by-three.column,  .offset-by-three.columns {
	margin-left: 26%;
}
.offset-by-four.column,  .offset-by-four.columns {
	margin-left: 34.6666666667%;
}
.offset-by-five.column,  .offset-by-five.columns {
	margin-left: 43.3333333333%;
}
.offset-by-six.column,  .offset-by-six.columns {
	margin-left: 52%;
}
.offset-by-seven.column,  .offset-by-seven.columns {
	margin-left: 60.6666666667%;
}
.offset-by-eight.column,  .offset-by-eight.columns {
	margin-left: 69.3333333333%;
}
.offset-by-nine.column,  .offset-by-nine.columns {
	margin-left: 78.0%;
}
.offset-by-ten.column,  .offset-by-ten.columns {
	margin-left: 86.6666666667%;
}
.offset-by-eleven.column,  .offset-by-eleven.columns {
	margin-left: 95.3333333333%;
}
.offset-by-one-third.column,  .offset-by-one-third.columns {
	margin-left: 34.6666666667%;
}
.offset-by-two-thirds.column,  .offset-by-two-thirds.columns {
	margin-left: 69.3333333333%;
}
.offset-by-one-half.column,  .offset-by-one-half.columns {
	margin-left: 52%;
} 
}

@media (max-width: 550px) {
	.content-block{
		display: none;
	}
	.logo{
		height: 6vh;
		width: 6vh;
	}
	.content-block img{
		display: none;
	}
	.no_img{
		position: fixed;
 		top: 50%;
		left: 50%;
  		transform: translate(-50%, -50%);
	}
}
span {
  background:#23272A;
  padding:4px;
}

.invite {
  background:    rgb(24, 173, 24);
  /*background:    linear-gradient(rgb(24, 173, 24), #1abc9c);*/
  border-radius: 11px;
  padding:       20px 45px;
  color:         #000;
  display:       inline-block;
  font:          normal bold 26px/1 "Ubuntu", sans-serif;
  text-align:    center;
}

.content {
  margin-left:auto;
  text-align:center;
  margin-right:auto;
  margin-top:150px;
}

.avi {
  border-radius:50%;
  width:130px;
  border: 3px solid #fff;
}

h1 {
  color:rgb(24, 173, 24);
}

.icon {
  color:#2C2F33;
}

.btn {
  background:#23272A;
  padding:10px;
  color:#8C8C8C;
  border-radius:3px;
  transition:.4s;
}

.btn:hover {
  background:rgb(24, 173, 24);
  color:#fff;
  transition:.4s;
}

a {
  text-decoration:none;
  color:#8C8C8C;
}

#navbar {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 9999;
    margin: auto;
}
  
#navbar img {
    border-radius: 10%;
}
  
#navbar a {
    color: #23272A;
    text-decoration: none;
    padding: 0 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}
  

#navbar a:hover {
    border-bottom: 2px solid #17660A;
    color: #17660A;
}

#navbar a.active {
    color: #2ecc71;
}

#navbar #menu {
    display: none;
    cursor: pointer;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

#navbar ul li {
    margin-right: 20px;
}

.information {
  padding: 20px;
  background-color: #21c72f; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.darkmode {
  border-radius: 5px;
  background-color: #23272A;
  color: #2ecc71;
}

.content-block{
  width: 100%; /* Make the div take up the full width of its parent */ 
  height: 100vh; /* Make the div take up the full height of the viewport */
  position: relative; /* Create a positioning context for the child image */
  overflow: hidden; /* Hide any overflow from the image */
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.content-block img{
  width: 80%; /* Make the image take up the full width of the div */
  height: 100%; /* Make the image take up the full height of the div */
  object-fit: cover; /* Maintain the image's aspect ratio while covering the entire container */
  display: block;
  margin: 0 auto;
}

.logo{
	height: 11vh;
	width: 11vh;
}
